
.dark .blur {
    position: absolute;
    width: 20vw;
    height: 20vw;
    min-width: 350px;
    min-width: 350px;
    top: -400px;
    left: 29vw;
    border-radius: 764px;
    background: rgba(27, 24, 84, 0.7);
    filter: blur(100px);
    z-index: -1;
    animation: blurAnimation 4s infinite;
  }

  .blur {
    position: absolute;
    width: 20vw;
    height: 20vw;
    min-width: 350px;
    min-width: 350px;
    top: -400px;
    left: 29vw;
    border-radius: 764px;
    background: rgba(233, 228, 255, 0.7);
    filter: blur(100px);
    z-index: -1;
    animation: blurAnimationlight 4s infinite;
  }


  @keyframes blurAnimation {
    0% { filter: blur(50px); }
    50% { filter: blur(150px); }
    100% { filter: blur(50px); }
}


@keyframes blurAnimationlight {
    0% { filter: blur(50px); }
    50% { filter: blur(150px); }
    100% { filter: blur(50px); }
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.gradient-animation {
    background-size: 200% auto;
    animation: moveGradient 1s alternate-reverse infinite;
}

@keyframes blur {
    0% {
        filter: blur(0px);
    }
    50% {
        filter: blur(3px);
    }
    100% {
        filter: blur(0px);
    }
}

.blur-animation {
    animation: blur 4s infinite;
}

.buttonm {
    margin-left: 376px;
}
